<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/index.css" rel="stylesheet"/>
</head>
<body>
<div class="home">
     
    <div class="hero">
        <h1>Ganesh Puja</h1>
         <img src="/61b2183761c8031571d4dc81a6eea0bb-removebg-preview.png "
    </div>
    <div class="element">
        <h2>GANESH CHATURTHI DASHBOARD</h2>
          <p>Total Donation: <%= totalDonation %></p>
    <p>Total Expenses: <%= totalExpenses %></p>
    <p>Remaing Budget:<%= totalDonation - totalExpenses%></p>

    <div class="btn">
<button><a href="/donations" style="text-decoration: none; color: white;"> View Donation</a></button>
<!--<button><a href="/event"style="text-decoration: none;"> Events</a></button>!-->
 <button class="expenses"><a href="/expenses"style="text-decoration: none ;color:#EDA02F;" >View Expenses</a></button>
</div>
    </div>

  
</div>
  
    
    





    
</body>
</html>